/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Library
@import "lib/slick";

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/impression-riso";
@import "partials/simulateur-de-devis";
@import "partials/guide-d-impression";
@import "partials/workshops";
@import "partials/a-propos";
@import "partials/archive-product";
@import "partials/single-product";
@import "partials/cart";
@import "partials/footer";
@import "partials/print";

* {
margin: 0;
padding: 0;
}

body {
  font-family: "Unica77 LL", sans-serif;
  margin: 0;
  color: $fideleblue;
  padding-top: 70px;
  -webkit-font-smoothing: antialiased;

  @include responsive(tablet-portrait) {
    padding-top: 35vw;
  }
}

.wrapper {
  padding: 0 20px 20px;

  @include responsive(tablet-portrait) {
    padding: 0 15px 15px;
  }
}

:root {
  --font-size1: 2.5vw;
  --font-size2: 1.8vw;
  --font-size3: 1.3vw;
  --font-size4: 0.8vw;
  @include responsive(tablet-portrait) {
    --font-size1: 6.5vw;
    --font-size2: 5vw;
    --font-size3: 5vw;
    --font-size4: 3.2vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1;
}

h1 {
  font-size: 5.5vw;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2.5vw;
}

p {
  line-height: 1.1;
}

p.s1 {
  font-size: var(--font-size1);
}

p.s2 {
  font-size: var(--font-size2);
}

p.s3 {
  font-size: var(--font-size3);
}

@include responsive(tablet-portrait) {
  p {
    line-height: 1.1;
  }

  p.s1 {
    font-size: 7vw;
  }

  p.s2 {
    font-size: 5vw;
  }

  p.s3 {
    font-size: 5vw;
  }

  h1 {
    font-size: 16vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2.5vw;
  }
}

input, textarea {
  font-family: "Unica77 LL", sans-serif;
  font-weight: normal;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 0;

  &.col-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  &.col-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  &.col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

.gif-item {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .hover {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover {
    .static {
      opacity: 0;
    }

    .hover {
      opacity: 1;
    }
  }
}

a {
  color: $fideleblue;

  &:focus {
    outline: none;
  }
}

button:focus {
  outline: none !important;
}

.woocommerce a.button {
  color: $fideleblue;
  font-weight: 400;
  background: none;

  &:hover {
    background: none;
    color: $fideleblue;
  }
}

.woocommerce-notices-wrapper {
  bottom: 0;
  position: fixed;
  left: 0;
  z-index: 100;
  width: 100%;
  margin: 0;

  .woocommerce-error, .woocommerce-info, .woocommerce-message {
    margin-bottom: 0;
    padding: 20px;
    border-top: 0;
    line-height: 1;
    color: $fideleblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;

    a {
      padding: 0;
    }

    &::before , &::after {
      content: none;
    }
  }
}

.woocommerce-message {
  margin-bottom: 0;
  padding: 0;
  margin: 1vw 0;
  border-top: 0;
  line-height: 1;
  color: $fideleblue;
  background: none;

  a {
    padding: 0;
  }

  &::before , &::after {
    content: none;
  }
}

.woocommerce-info {
  background: none;
  border-top: 0;
  padding: 1vw 0;
  margin: 0;
  color: $fideleblue;
  font-size: var(--font-size1);;
  margin-left: 50%;

  &::before {
    content: none;
  }
}

.return-to-shop {
  font-size: var(--font-size2);;
  margin-left: 50%;

  a.button {
    padding: 2vw 0;
  }
}

a:hover, a:focus {
  text-decoration: none;
}

/* CONTACT FORM 7 */
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  border-color: $fideleblue;
  border: 1px solid;
  padding: 1vw;
  line-height: 1.2;
  margin: 2vw 0 6vw;
}

/* HOME PAGE */

@keyframes gradient-intro {
  0% {
    background-image: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 1 1' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cmask id='m'%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23g)'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient id='a' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%2300d2f0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%237952ad'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%23ff5e00'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23c28928'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23a)' mask='url(%23m)'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23b)' mask='url(%23m)' transform='translate(1,1) rotate(180)'%3E%3C/rect%3E%3C/svg%3E ");
    background-color: #fff;
  }
  33% {
    background-image: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 1 1' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cmask id='m'%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23g)'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient id='a' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%23ffec00'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2300de00'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%230550f0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2389898b'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23a)' mask='url(%23m)'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23b)' mask='url(%23m)' transform='translate(1,1) rotate(180)'%3E%3C/rect%3E%3C/svg%3E ");
    background-color: #fff;
  }
  66% {
    background-image: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 1 1' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cmask id='m'%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23g)'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient id='a' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%23ff2b5a'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23a274dd'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%235ee1dc'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%231f6e59'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23a)' mask='url(%23m)'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23b)' mask='url(%23m)' transform='translate(1,1) rotate(180)'%3E%3C/rect%3E%3C/svg%3E ");
    background-color: #fff;
  }
  100% {
    background-image: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 1 1' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cmask id='m'%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23g)'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient id='a' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%239f4375'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2300b052'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%23ffb700'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23ff355d'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23a)' mask='url(%23m)'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23b)' mask='url(%23m)' transform='translate(1,1) rotate(180)'%3E%3C/rect%3E%3C/svg%3E ");
    background-color: #fff;
  }
}

.gradient-intro {
  overflow: hidden;
  display: none;
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
  animation: gradient-intro 4s ease 1s infinite alternate both;
  cursor: pointer;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.index_menu {
  width: 100%;
  height: auto;
  font-size: 10.4vw;
  font-weight: 500;
  text-align: center;
  line-height: 105%;
  color: $flatgold;
  position: relative;
  display: flex;
  justify-content: center;

  .text {
    max-width: 100%;
  }

  .gif-item {
    img {
      width: 100%;
      height: auto;
    }

    .hover {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }

    a:hover {
      .static {
        opacity: 0;
      }

      .hover {
        opacity: 1;
      }
    }
  }

  .studio {
    width: 19vw;
    position: absolute;
    top: 16.5vw;
    left: 9vw;

    svg {
      width: 100%;
      height: auto;
    }

    svg:hover {
      .studio-bg {
        fill: $fideleblue;
      }

      .studio-text {
        fill: $white;
      }
    }
  }

  .workshops {
    width: 15vw;
    position: absolute;
    bottom: 5vw;
    right: 23vw;

    svg {
      width: 100%;
      height: auto;
    }

    svg:hover {
      .workshops-bg {
        fill: $fideleblue;
        stroke: $white;
      }

      .workshops-text {
        fill: $white;
      }

      .workshops-stroke {
        stroke: $white;
      }
    }
  }

  .editions {
    width: 19vw;
    position: absolute;
    top: 3vw;
    right: 1vw;

    svg {
      width: 100%;
      height: auto;
    }

    svg:hover {
      .editions-bg {
        fill: $fideleblue;
        stroke: $white;
      }

      .editions-text {
        fill: $white;
      }

      .editions-stroke {
        stroke: $white;
      }
    }
  }
}

/* Page - General */
.page, .archive {
  .page-title {
    display: flex;
    letter-spacing: -0.1em;

    & > div {
      width: 50%;
    }
  }

  .subtitle {
    font-size: var(--font-size1);
    line-height: 105%;
    margin-top: 1.5vw;
  }

  .content {
    font-size: var(--font-size2);;
  }

  .woocommerce-breadcrumb {
    display: none;
  }

  @include responsive(tablet-portrait) {
    .page-title > div:first-child {
      display: none;
    }

    .page-title {
      & > div {
        width: 100%;
      }
    }
  }
}


/* WOOCOMMERCE CHECKOUT - PAGE */
.checkout {
  .woocommerce-form-coupon-toggle {
    display: none;
  }

  .woocommerce table.shop_table {
    border-collapse: collapse;

    .product-total {
      padding-left: 1vw;
    }

    tr:first-of-type td {
      border-top: 0;
    }

    tr th {
      font-size: var(--font-size3);;
      font-weight: 400;
      padding: 0.5vw 0;
    }

    tr td {
      padding: 0.5vw 0;
      line-height: 1.1;
    }

    tr td[data-title="Shipping"] {
      max-width: 15vw;
    }

    .cart-subtotal {
      display: none;
    }

    tfoot th, tfoot td {
      border-top: 1px solid;
      font-weight: 400;
    }

    strong {
      font-weight: 400;
    }

    tfoot td:first-of-type {
      border-top: 1px solid;
      padding-left: 1vw;
    }

    tfoot th:last-of-type {
      border-right: 1px solid;
    }
  }

  .total-order-fixed {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: calc(50% - 20px);
    height: auto;
    z-index: 10;
    display: block;
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;

    &.hide {
      visibility: hidden;
      opacity: 0;
    }

    h3 {
      font-weight: 400;
    }
  }

  .woocommerce .col2-set {
    margin-top: 2vw;
  }

  .woocommerce .col2-set .col-1 {
    width: 49%;
  }

  .woocommerce .col2-set .col-2 {
    width: 50%;
  }

  #payment {
    background: 0;
    font-size: var(--font-size2);;
    display: flex;

    ul.payment_methods {
      padding: 0;
      flex-grow: 1;
      border-bottom: 0;
      margin-right: -6vw;
    }

    .woocommerce-terms-and-conditions-wrapper {
      display: none;
    }

    li {
      display: flex;
      align-items: center;
      border-bottom: 1px solid;
      padding: 1vw 0;

      &:last-of-type {
        border-bottom: 0;
      }

      .payment_box {
        background: none;
        width: auto;
        margin: 0;
        padding: 0;
        margin-left: 1vw;
        color: $fideleblue;
        font-size: var(--font-size3);;
        max-width: 70%;

        &::before {
          content: none;
        }
      }

      .about_paypal {
        display: none;
      }

      input[type='radio'] {
        display: none;
      }

      label:before {
        content: " ";
        display: inline-block;
        position: relative;
        top: 1px;
        margin: 0 5px 0 0;
        width: 20px;
        height: 20px;
        border-radius: 11px;
        border: 1px solid $fideleblue;
        background-color: transparent;
      }

      input[type='radio']:checked+label:before {
        position: relative;
        border: 1px solid $fideleblue;
        border-radius: 11px;
        width: 20px;
        height: 20px;
        top: 1px;
        content: " ";
        display: inline-block;
        background-color: blue;
      }
    }

    .payment_method_paypal label img {
      display: none;
    }
  }

  #place_order {
    display: none;
  }
}

.woocommerce-billing-fields h3, .woocommerce-additional-fields h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.woocommerce form .form-row {
  margin: 0 0 10px;

  input.input-text, textarea {
      font-size: var(--font-size2);
      line-height: 1.1;
      border: 1px solid $fideleblue;
      border-radius: 0;
      padding: 9px 8px 4px;
      width: 100%;
      color: $fideleblue;
      font-family: "Unica77 LL", sans-serif;
      resize: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $fideleblue;
      }
  }

  label {
    font-size: var(--font-size3);;
    line-height: 1.5;
  }

  .required {
    color: $fideleblue;
  }
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid $fideleblue;
  border-radius: 0;
  font-size: var(--font-size2);;
  padding: 8px;
  height: auto;
  margin: inherit;

  &:focus {
    outline: none;
  }

  .select2-selection__rendered {
    color: $fideleblue;
    line-height: 1;
    margin-top: 0.2vw;
    padding: 0;
  }

  .select2-selection__arrow {
    background: url("img/select-arrow.svg") center center no-repeat;
    background-size: contain;
    height: 35px;
    position: absolute;
    top: 4px;
    right: 10px;
    width: 35px;


    b {
      display: none;
    }
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
  background: $fideleblue;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
  background: $fideleblue;

  &:focus {
    outline: none;
  }
}

.select2-container--open .select2-dropdown--above {
  border: 1px solid $fideleblue;
  border-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid $fideleblue;
  color: $fideleblue;

  &:focus {
    outline: none;
  }
}

/* ORDER RECEIVED - WOOCOMMERCE */
.woocommerce-order-received {
  .page-title h1 {
    text-transform: capitalize;
  }

  .woocommerce-thankyou-order-received {
    font-size: var(--font-size1);;
    margin-top: 2vw;
  }

  ul.order_details {
    display: flex;
    border-bottom: 1px solid;
    margin-top: 2vw;

    li {
      float: none;
      flex-grow: 1;
      border-right: 1px solid;
      font-size: var(--font-size3);;
      text-transform: none;
      margin: 0;
      padding: 0 20px;

      &:first-of-type {
        padding-left: 0;
      }

      strong {
        font-weight: 400;
        font-size: var(--font-size2);;
      }
    }
  }

  .woocommerce-order-details h2, .woocommerce-customer-details h2 {
    font-size: var(--font-size1);;
    font-weight: 400;
    margin-bottom: 0.5vw;
  }
}

.woocommerce .woocommerce-customer-details {
  .woocommerce-customer-details--phone, .woocommerce-customer-details--email {
    &::before {
      content: none;
    }

    padding-left: 0;
  }

  address {
    border: 1px solid $fideleblue;
    border-radius: 0;
    font-size: var(--font-size2);;
    line-height: 1.1;
    padding: 10px;
  }
}


/* ACCOUNT PAGES */
.woocommerce-account {
  .woocommerce {
    font-size: var(--font-size3);;
  }

  button.button {
    background: none;
    color: $fideleblue;
    padding: 0;
    margin: 2vw 0;
    font-size: var(--font-size1);;
    font-weight: 400;

    &:hover {
      background: none;
      color: $fideleblue;
    }

    &::after {
      content: "";
      background: url("img/button-arrow.svg") center center no-repeat;
      background-size: contain;
      height: 5vw;
      width: 10vw;
      margin-left: 1vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .woocommerce-notices-wrapper .woocommerce-message {
    background: none;
  }

  .woocommerce {
    display: flex;
    margin-top: 1vw;
  }

  .woocommerce-MyAccount-content {
    width: 50%;
    float: none;
    font-size: var(--font-size2);;
    margin-bottom: 80px;


    .woocommerce-Addresses {
      display: flex;
      flex-direction: column;
      margin-top: 1.5vw;

      .col-1, .col-2 {
        width: 100%;
        float: none;
        margin-bottom: 2vw;
      }

      header h3 {
        font-size: var(--font-size1);;
        font-weight: 400;
        margin-bottom: 0.5vw;
      }

      address {
        font-style: normal;
        font-size: var(--font-size2);;
        line-height: 1.1;
        border: 1px solid;
        padding: 0.5vw 0.5vw 3vw;
      }
    }

    em {
      display: block;
      margin-top: 0.5vw;
      font-size: var(--font-size3);;
      font-style: normal;
    }

    fieldset {
      border: 0;

      legend {
        font-size: var(--font-size1);;
      }
    }
  }

  .woocommerce-MyAccount-navigation {
    width: 50%;
    float: none;

    ul {
      list-style: none;
      font-size: var(--font-size1);;
      line-height: 1.3;

      li.is-active {
        font-weight: 500;
      }

      .woocommerce-MyAccount-navigation-link--downloads {
        display: none;
      }
    }
  }
}

.woocommerce-account.woocommerce-orders {
  .woocommerce-MyAccount-content {
    width: auto;
    flex-grow: 1;
  }

  .woocommerce-MyAccount-navigation {
    width: auto;
    margin-right: 6vw;
  }

  .woocommerce table.shop_table tr th {
    padding: 0.6vw 1.5vw 0.3vw;
    font-size: var(--font-size3);;
    font-weight: 400;
    line-height: 1;

    &:first-of-type {
      padding-left: 0;
    }
  }

  .woocommerce table.shop_table tr td {
    padding: 0.6vw 1.5vw 0.3vw;
    line-height: 1;

    &:first-of-type {
      padding-left: 0;
    }
  }

  .woocommerce table.shop_table tr:first-of-type td {
    border-top: 0;
  }
}

/* LOGIN PAGE */
.page-id-9 {
  &.logged-in {
    .woocommerce {
      flex-direction: row;
    }
  }

  .woocommerce {
    flex-direction: column;
    padding-bottom: 100px;

    h2 {
      font-size: var(--font-size1);;
      font-weight: 400;
    }

    .woocommerce-form-login {
      width: 100%;
      border: 0;
      padding: 0;
      font-size: var(--font-size3);;
      margin: 1vw 0;

      .form-row::after {
        clear: none;
      }

      .lost_password {
        margin-top: 1vw;
      }

      .woocommerce-form-login__submit {
        float: right;

        &::after {
          content: "";
          position: absolute;
          width: 28vw;
          height: 15vw;
          background: url("img/go.png") center center no-repeat #fff;
          background-size: contain;
          top: 5vw;
          right: -6vw;
        }

        &:hover {
          &::after {
            background: url("img/go-blue.gif") center center no-repeat #fff;
            background-size: contain;
          }
        }
      }
    }
  }
}

.woocommerce-lost-password {
  .woocommerce-form-row {
    margin-top: 2vw;
  }
}
