/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Library
@import "lib/slick";

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/footer";
@import "partials/impression-riso";
@import "partials/simulateur-de-devis";
@import "partials/guide-d-impression";
@import "partials/workshops";
@import "partials/a-propos";
@import "partials/archive-product";
@import "partials/single-product";
@import "partials/my-account";
@import "partials/cart";
@import "partials/checkout";
@import "partials/order-received";
@import "partials/print";

* {
margin: 0;
padding: 0;
}

body {
  font-family: "Unica77 LL", sans-serif;
  margin: 0;
  color: $fideleblue;
  padding-top: 70px;
  -webkit-font-smoothing: antialiased;

  @include responsive(tablet-portrait) {
    padding-top: 35vw;
  }
}

.wrapper {
  padding: 0 20px 20px;
  overflow-x: hidden;

  @include responsive(tablet-portrait) {
    padding: 0 15px 15px;
  }
}

:root {
  --font-size1: 2.5vw;
  --font-size2: 1.8vw;
  --font-size3: 1.3vw;
  --font-size4: 0.8vw;
  @include responsive(tablet-portrait) {
    --font-size1: 6.5vw;
    --font-size2: 5vw;
    --font-size3: 5vw;
    --font-size4: 3.2vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1;
}

h1 {
  font-size: 5.5vw;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2.5vw;
}

p {
  line-height: 1.1;
}

p.s1 {
  font-size: var(--font-size1);
}

p.s2 {
  font-size: var(--font-size2);
}

p.s3 {
  font-size: var(--font-size3);
}

@include responsive(tablet-portrait) {
  p {
    line-height: 1.1;
  }

  h1 {
    font-size: 16.6vw;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 6.5vw;
    font-weight: 400;
  }
}

input, textarea {
  font-family: "Unica77 LL", sans-serif;
  font-weight: normal;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 0;

  &.col-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  &.col-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  &.col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

.gif-item {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .hover {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover {
    .static {
      opacity: 0;
    }

    .hover {
      opacity: 1;
    }
  }
}

a {
  color: $fideleblue;

  &:focus {
    outline: none;
  }
}

button:focus {
  outline: none !important;
}

.woocommerce a.button {
  color: $fideleblue;
  font-weight: 400;
  background: none;

  &:hover {
    background: none;
    color: $fideleblue;
  }
}

.woocommerce-notices-wrapper {
  bottom: 0;
  position: fixed;
  left: 0;
  z-index: 100;
  width: 100%;
  margin: 0;

  .woocommerce-error, .woocommerce-info, .woocommerce-message {
    margin-bottom: 0;
    padding: 20px;
    border-top: 0;
    line-height: 1;
    color: $fideleblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;

    a {
      padding: 0;
    }

    &::before , &::after {
      content: none;
    }
  }
}

.woocommerce-message {
  margin-bottom: 0;
  padding: 0;
  margin: 1vw 0;
  border-top: 0;
  line-height: 1;
  color: $fideleblue;
  background: none;

  a {
    padding: 0;
  }

  &::before , &::after {
    content: none;
  }
}

.woocommerce-info {
  background: none;
  border-top: 0;
  padding: 1vw 0;
  margin: 0;
  color: $fideleblue;
  font-size: var(--font-size1);
  margin-left: 50%;

  &::before {
    content: none;
  }
}

.return-to-shop {
  font-size: var(--font-size2);;
  margin-left: 50%;

  a.button {
    padding: 2vw 0;
  }
}

a:hover, a:focus {
  text-decoration: none;
}

@include responsive(tablet-portrait) {
  .woocommerce-info, .return-to-shop {
    margin-left: 0;
  }
}

/* CONTACT FORM 7 */
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  border-color: $fideleblue;
  border: 1px solid;
  padding: 1vw;
  line-height: 1.2;
  margin: 2vw 0 6vw;
}

/* HOME PAGE */

@keyframes gradient-intro {
  0% {
    background-image: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 1 1' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cmask id='m'%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23g)'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient id='a' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%2300d2f0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%237952ad'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%23ff5e00'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23c28928'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23a)' mask='url(%23m)'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23b)' mask='url(%23m)' transform='translate(1,1) rotate(180)'%3E%3C/rect%3E%3C/svg%3E ");
    background-color: #fff;
  }
  33% {
    background-image: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 1 1' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cmask id='m'%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23g)'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient id='a' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%23ffec00'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2300de00'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%230550f0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2389898b'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23a)' mask='url(%23m)'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23b)' mask='url(%23m)' transform='translate(1,1) rotate(180)'%3E%3C/rect%3E%3C/svg%3E ");
    background-color: #fff;
  }
  66% {
    background-image: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 1 1' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cmask id='m'%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23g)'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient id='a' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%23ff2b5a'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23a274dd'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%235ee1dc'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%231f6e59'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23a)' mask='url(%23m)'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23b)' mask='url(%23m)' transform='translate(1,1) rotate(180)'%3E%3C/rect%3E%3C/svg%3E ");
    background-color: #fff;
  }
  100% {
    background-image: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 1 1' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cmask id='m'%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23g)'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient id='a' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%239f4375'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2300b052'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%23ffb700'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23ff355d'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23a)' mask='url(%23m)'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23b)' mask='url(%23m)' transform='translate(1,1) rotate(180)'%3E%3C/rect%3E%3C/svg%3E ");
    background-color: #fff;
  }
}

.gradient-intro {
  overflow: hidden;
  display: none;
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
  animation: gradient-intro 4s ease 1s infinite alternate both;
  cursor: pointer;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.index_menu {
  width: 100%;
  height: auto;
  font-size: 10.4vw;
  font-weight: 500;
  text-align: center;
  line-height: 105%;
  color: $flatgold;
  position: relative;
  display: flex;
  justify-content: center;

  .text {
    max-width: 100%;
  }

  .gif-item {
    img {
      width: 100%;
      height: auto;
    }

    .hover {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }

    a:hover {
      .static {
        opacity: 0;
      }

      .hover {
        opacity: 1;
      }
    }
  }

  .studio {
    width: 19vw;
    position: absolute;
    top: 16.5vw;
    left: 9vw;

    svg {
      width: 100%;
      height: auto;
    }

    svg:hover {
      .studio-bg {
        fill: $fideleblue;
      }

      .studio-text {
        fill: $white;
      }
    }
  }

  .workshops {
    width: 15vw;
    position: absolute;
    bottom: 5vw;
    right: 23vw;

    svg {
      width: 100%;
      height: auto;
    }

    svg:hover {
      .workshops-bg {
        fill: $fideleblue;
        stroke: $white;
      }

      .workshops-text {
        fill: $white;
      }

      .workshops-stroke {
        stroke: $white;
      }
    }
  }

  .editions {
    width: 19vw;
    position: absolute;
    top: 3vw;
    right: 1vw;

    svg {
      width: 100%;
      height: auto;
    }

    svg:hover {
      .editions-bg {
        fill: $fideleblue;
        stroke: $white;
      }

      .editions-text {
        fill: $white;
      }

      .editions-stroke {
        stroke: $white;
      }
    }
  }
}

@include responsive(tablet-portrait) {
  .index_menu {
    height: 80vh;
    font-size: 20vw;
    word-break: break-word;

    .studio {
      width: 45vw;
      position: absolute;
      top: 7.5vw;
      left: 4vw;
    }

    .editions {
      width: 42vw;
      position: absolute;
      top: 47vw;
      right: 0;
    }

    .workshops {
      width: 40vw;
      position: absolute;
      bottom: 32vw;
      right: 45vw;
    }
  }
}

/* Page - General */
.page, .archive {
  .page-title {
    display: flex;
    letter-spacing: -0.1em;

    h1 {
      margin-left: -4.6px;
    }

    & > div {
      width: 50%;
    }
  }

  .subtitle {
    font-size: var(--font-size1);
    line-height: 105%;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
  }

  .content {
    font-size: var(--font-size2);;
  }

  .woocommerce-breadcrumb {
    display: none;
  }

  @include responsive(tablet-portrait) {
    .page-title > div:first-child {
      display: none;
    }

    .page-title {
      & > div {
        width: 100%;
      }
    }
  }
}
