/* A PROPOS - PAGE */
.a-propos {
  .wrapper {
    overflow-x: hidden;
  }

  .header-text {
    width: 100%;
    height: auto;
    font-size: 10.4vw;
    font-weight: 500;
    text-align: center;
    line-height: 105%;
    color: $fideleblue;
    position: relative;
    display: flex;
    justify-content: center;

    .vector {
      position: absolute;
      pointer-events: none;

      &.vector-1 {
        left: 0;
        top: 5vw;
      }

      &.vector-2 {
        right: 0;
        top: 8vw;
      }
    }

    .text {
      max-width: 100%;
    }

    .text span {
      transition: color 3s;
      transition-delay: 1s;
      opacity: 1;
      color: $fideleblue;
      padding: 0 !important;
      cursor: pointer;

      &.color1:hover {
        transition: color 0s;
      }

      &.color2:hover {
        transition: color 0s;
      }

      &.color3:hover {
        transition: color 0s;
      }

      &.color4:hover {
        transition: color 0s;
      }
    }
  }

  section {
    margin: 7vw 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .team {
    .team-members {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      font-size: var(--font-size2);;

      .member {
        display: flex;
        flex-direction: column;

        h2 {
          margin: 1.5vw 0 1vw;
        }

        p {
          font-size: var(--font-size2);
          margin-bottom: 1vw;
        }

        .email {
          border: 1px solid;
          text-align: center;
          line-height: 1;
          padding: 0.7vw 0 0.5vw;
          margin-top: auto;
        }
      }
    }
  }

  .contact {
    .form {
      position: relative;
    }

    .row {
      margin: 10px 0;
    }

    input, textarea {
        font-size: var(--font-size2);;
        line-height: 1.1;
        border: 1px solid $fideleblue;
        border-radius: 0;
        padding: 8px;
        width: 100%;
        color: $fideleblue;

        &:focus {
          outline: none;
        }
    }

    label {
      font-size: var(--font-size3);;
    }

    .two-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }

    textarea {
      resize: none;
      border: 1px solid $fideleblue;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .submit-wrapper {
      margin-top: -13vw;
      right: -6vw;
      position: relative;
      display: flex;
      justify-content: flex-end;

      .submit-button {
        width: 35vw;
        height: auto;
        position: relative;
      }

      .wpcf7-submit {
        display: none;
      }
    }

    .submit-hidden {
      display: none;
    }
  }

  .map {
    .map-description {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-top: 1px solid;
      border-bottom: 1px solid;
      margin: 0 -20px;

      .text {
        padding: 20px;
        border-right: 1px solid;
        font-size: var(--font-size1);
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin-bottom: 1.5vw;
        }

        .map-infos {
          font-size: var(--font-size2);
          margin-top: 2vw;

          p {
            margin-bottom: 0;
          }

          .mobile-br {
            display: none;
          }
        }
      }

      .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@include responsive(tablet-portrait) {
  .a-propos {
    .wrapper {
      overflow-x: hidden;
    }

    .header-text {
      height: 80vh;
      font-size: 20vw;
      hyphens: auto;
      word-break: break-word;

      .vector.vector-1 {
        right: 0;
        width: 75vw;
        top: 3vw;
        left: initial;
      }

      .vector.vector-2 {
        left: 0;
        bottom: 42vw;
        width: 52vw;
        top: initial;
      }
    }

    section {
      margin: 25vw 0;
    }

    .team {
      .team-members {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10vw;
        margin-top: 8vw;
        margin-bottom: 100px;

        .member {
          h2 {
            font-size: var(--font-size1);
            font-weight: 400;
            margin: 6vw 0 2vw;
          }

          p {
            margin-bottom: 0;
          }

          .email {
            font-size: var(--font-size1);
            padding: 3vw 0.5vw 2vw;
            margin-top: 2vw;
          }
        }
      }
    }

    .map {
      .map-description {
        grid-template-columns: repeat(1, 1fr);
        border-top: 0;

        .text {
          border-right: 0;

          p {
            margin-bottom: 15px;
          }

          .map-infos .mobile-br {
            display: block;
          }
        }

        .image {
          border-top: 1px solid;
          height: 350px;
        }
      }
    }

    .contact {
      .submit-wrapper {
        margin-top: -38vw;
        right: -15vw;
        position: relative;
        background: none;

        .gif-item {
          width: 80vw;
        }
      }

      .two-col {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2vw;
      }
    }
  }
}
