/**
 * partials/archive-product
 * ---
 */


 /* PRODUCT AND CATEGORY PAGES */
 .archive {
   .woocommerce-message {
     background: linear-gradient(0deg, #FFFFFF 80%, transparent 100%);
     padding: 30px 20px 20px;
     flex-direction: row-reverse;
   }

   .head-title .category-icon {
     height: 7vw;
     width: auto;
     margin-left: 1vw;
     margin-top: -1vw;
   }

   .subtitle {
     margin: 0.5vw 0;
   }

   .wrapper {
     padding: 0;
   }

   .cat-count {
     display: none;
   }

   .woocommerce-result-count {
     display: none;
   }

   .archive-header {
     margin: 0 20px;
   }

   .product-cat-menu {
     display: flex;
     border: 1px solid;
     margin: 2vw 20px 3vw;
     font-size: var(--font-size3);;

     &.mobile {
       display: none;
     }

     .cat-item {
       border-right: 1px solid;

       a {
         display: block;
         width: 100%;
         height: 100%;
         background: #fff;
         transition: all 0.3s ease;
         padding: 0.3vw 0.6vw 0;

         &:hover {
           background: linear-gradient(90deg, $fideleblue 38.57%, $white 100%);
           color: #fff;
         }
       }

       &.current {
         a {
           background: linear-gradient(90deg, $fideleblue 38.57%, $white 100%);
           color: #fff;
         }
       }

       &:last-of-type {
         border: 0;
       }
     }

     .cat-item:nth-last-of-type(2) {
       flex-grow: 1;
     }

     .cat-item form {
       margin: 0;
       height: 100%;

       select {
         height: 100%;
         border: 0;
         color: $fideleblue;
         font-size: var(--font-size3);;
         padding: 0vw 0.5vw;
         background: url(img/select-arrow.svg) right 0.5vw center no-repeat;
         background-size: 2.5vw;
         -moz-appearance:none; /* Firefox */
         -webkit-appearance:none; /* Safari and Chrome */
         appearance:none;

         &:focus {
           border: 0;
           outline: 0;
         }
       }
     }
   }

   ul.products {
     width: 100%;
     border-top: 1px solid;
     column-gap: 0;
     row-gap: 0;
     display: grid;


     &.columns-3 {
       grid-template-columns: repeat(3, 1fr);
     }

     &::before {
       content: none;
       display: none;
     }
   }

   .bottom-gradient {
     display: none;
   }

   .product-item {
     border-right: 1px solid;
     border-bottom: 1px solid;
     background: #fff;
     height: 40vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;

     &:hover {
       .background-gradient {
         opacity: 1;
       }
     }

     &:nth-of-type(3n+3) {
       border-right: 0;
     }

     .background-gradient {
       position: absolute;
       z-index: 0;
       width: 100%;
       height: 100%;
       opacity: 0;
       transition: all 0.2s linear;
     }

     a {
       z-index: 1;
       max-width: 65%;
       height: auto;
     }

     img {
       box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.35);
       -webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.35);
       -moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.35);
     }

     .product-info {
       position: fixed;
       bottom: 0;
       width: 33.4%;
       background: #fff;
       border-right: 1px solid;
       font-size: var(--font-size2);
       z-index: 4;
       display: flex;
       padding: 4vw 0.8vw 0vw;
       justify-content: space-between;
       align-items: flex-end;
       align-items: center;
       cursor: pointer;
       @include linear-gradient(to top, #FFFFFF 40%, transparent 100%);

       .title-wrapper {
         line-height: 1;
       }

       &.stop {
         position: absolute;
         width: 100%;
         border-right: 0;
       }

       &.visible {
         z-index: 5;
       }

       &:hover {
         .more-info-wrapper {
           visibility: visible;
           opacity: 1;
         }
       }

       .more-info-wrapper {
         position: absolute;
         width: 100%;
         left: 0;
         bottom: 0;
         background: linear-gradient(0deg, #FFFFFF 85%, transparent 100%);
         padding: 4vw 0.8vw 0vw;
         visibility: hidden;
         transition: all 0.2s linear;
         opacity: 0;

         .grid {
           margin-bottom: 1vw;
         }

         .title {
           grid-column: span 4;
           font-size: var(--font-size2);;
           border-bottom: 1px solid;
         }

         .description {
           grid-column: span 3;
           font-size: var(--font-size3);;
           border-right: 1px solid;
           padding: 0.8vw 0.8vw 0 0;
           line-height: 1.1;
         }

         .details {
           grid-column: span 1;
           font-size: var(--font-size4);;
           padding: 0.8vw 0 0 0.8vw;
         }
       }

       .button-cart {
         display: flex;
         justify-content: space-between;
         align-items: center;

         a.button {
           padding: 0;
         }
       }
     }

     &:nth-of-type(3n+3) {
       border-right: 0;

       .product-info {
         border-right: 0;
         z-index: 5;
       }
     }
   }
 }

 @include responsive(big-desktop) {
   .archive {
     ul.products {
       &.columns-3 {
         grid-template-columns: repeat(4, 1fr);
       }

       .product-item {
         height: 30vw;

         &:nth-of-type(3n+3) {
           border-right: 1px solid;
         }

         &:nth-of-type(4n+4) {
           border-right: 0;

           .product-info {
             border-right: 0;
           }
         }

         .product-info {
           width: 25%;
           font-size: var(--font-size2);
           @include linear-gradient(to top, #FFFFFF 40%, transparent 100%);
          padding: 5vw 20px 0.2vw;

           &.stop {
             position: absolute;
             width: 100%;
           }
         }
       }
     }
   }
 }


@include responsive(tablet-portrait) {
  .archive {
    .archive-header {
      margin: 0 15px;
    }

    .subtitle {
      margin: 4vw 0 !important;
    }

    .content {
      margin-bottom: 4vw;
    }

    .head-title .category-icon {
      height: 26vw;
      width: auto;
      margin-left: 3vw;
      margin-top: -6vw;
    }

    .product-cat-menu {
      display: none;
    }

    .product-cat-menu.mobile {
      display: flex;
      margin: 2vw 15px 6vw;

      .orderby-form {
        text-overflow: ellipsis;
        max-width: 49%;
      }

      .cat-item form select {
        height: 100%;
        border: 0;
        color: #215BDF;
        font-size: var(--font-size3);
        padding: 0vw 11vw 0 2vw;
        background: url(img/select-arrow.svg) right 2vw center no-repeat;
        background-size: 8.5vw;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        text-overflow: ellipsis;
        font-weight: 500;
      }

      /* Dropdown Button */
      .dropbtn {
        border: none;
        cursor: pointer;
        background: none;
        color: $fideleblue;
        font-size: var(--font-size3);
        padding: 1vw 2vw;
        font-weight: 500;
      }

      /* Dropdown button on hover & focus */
      .dropbtn:hover, .dropbtn:focus {
        background-color: none;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        border: 1px solid;
        z-index: 1000;

        .cat-item {
          border: 0;
        }
      }

      /* Links inside the dropdown */
      .dropdown-content a {
        padding: 1vw 2vw;
        text-decoration: none;
        display: block;

        &:first-of-type {
          padding-top: 2vw;
        }
      }

      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #ddd}

      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {display:block;}
    }

    ul.products {
      &.columns-3 {
        grid-template-columns: repeat(1, 1fr);
      }

      .product-item {
        height: auto;
        border-right: 0;

        a {
          max-width: 60%;
          padding: 20vw 0;
        }

        .background-gradient {
          opacity: 1;
        }

        .product-info {
          width: 100%;
          left: 0;
          font-size: var(--font-size1);
          @include linear-gradient(to top, #FFFFFF 80%, transparent 100%);
          padding: 4vw 15px 2vw;
          border-right: 0;

          .more-info-wrapper {
            padding: 10vw 15px 0;

            .title {
              font-size: var(--font-size1);
            }

            .description {
              grid-column: span 4;
              border-right: 0;
              border-bottom: 1px solid;
              padding: 2vw 0;
            }

            .details {
              grid-column: span 4;
              line-height: 1.2;
              padding: 2vw 0;
            }
          }
        }
      }
    }
  }
}
