/* WOOCOMMERCE CART - PAGE */
.cart {
  .woocommerce-notices-wrapper {
    .woocommerce-message {
      background: none;
      color: #fff;
      justify-content: flex-end;

      a {
        color: #fff;
        font-weight: 600;
        margin-right: 0.5vw;
      }
    }
  }

  .submit-hidden {
    display: none;
  }

  /* checkout */
  .wc-proceed-to-checkout {
    padding: 0 0 1vw;
  }
}

body.cart, body.checkout {
  overflow-x: hidden;
}

.cart, .checkout {
  .gif-item {
    position: relative;
    display: block;
    width: 28vw;
    height: auto;
    right: -5vw;
    top: -2vw;
    float: right;

    img {
      width: 100%;
      height: auto;
    }

    .hover {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      .static {
        opacity: 0;
      }

      .hover {
        opacity: 1;
      }
    }
  }

  .button.hidden {
    display: none;
  }

  .woocommerce-shipping-totals {
    display: none !important;
  }
}

.woocommerce table.shop_table {
  border: 0;
  color: $fideleblue;
  border-collapse: collapse;

  .product-thumbnail {
    width: 10vw;
    height: auto;

    img {
      width: 100%;
      height: auto;
      box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.35);
      -webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.35);
      -moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.35);
    }
  }

  tr th {
    border-right: 1px solid $fideleblue;

    &:last-of-type {
      border-right: 0;
    }
  }

  tr td {
    font-size: var(--font-size2);;
    vertical-align: top;
    padding: 20px;
    border-right: 1px solid $fideleblue;
    border-top: 1px solid $fideleblue;

    &:last-of-type {
      border-right: 0;
    }
  }

  .product-remove {
    border-right: 0;
  }

  .product-quantity {
      .quantity .qty {
        color: $fideleblue;
        font-size: var(--font-size2);;
        border: 0;
        padding: 0;
        width: 3vw;
        text-align: left;

        &:focus {
          outline: none;
        }
      }
  }

  td.actions .coupon input.input-text {
    width: 100%;
    border: 0;
    color: $fideleblue;
    padding: 0;
    line-height: 1;
    float: none;

    &::placeholder {
      color: $fideleblue;
    }
  }

  .button {
    background: none;
    padding: 0;
    color: $fideleblue;
    font-weight: 400;
  }

  tr.order-total td:first-of-type {
    border-top: 0;
  }
}

.woocommerce a.remove {
  color: $fideleblue !important;
  font-weight: 100;
  width: 2vw;
  height: auto;
  text-align: left;
  font-size: 4vw;
  line-height: inherit;

  &:hover {
    background: none;
    color: $fideleblue !important;
  }
}

@include responsive(tablet-portrait) {
  .woocommerce #content table.cart .product-thumbnail, .woocommerce table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail {
    display: table;
    width: 100%;

    a {
      max-width: 50%;
      height: auto;
      display: block;
    }
  }
}
