/**
 * partials/footer
 * ---
 */


.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px 0 75px;
  border-top: 1px solid;
  border-left: 1px solid;
  font-size: 18px;

  & > div {
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 0.2vw 0.5vw 0;
    font-weight: 500;
  }

  .email {
    display: flex;
    justify-content: space-between;
  }

  .opacity-row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0;
  }

  .opacity-module {
    background-color: $fideleblue;

    &.opacity-10 {
      opacity: 0.1;
    }

    &.opacity-20 {
      opacity: 0.2;
    }

    &.opacity-30 {
      opacity: 0.3;
    }

    &.opacity-40 {
      opacity: 0.4;
    }

    &.opacity-50 {
      opacity: 0.5;
    }

    &.opacity-60 {
      opacity: 0.6;
    }

    &.opacity-70 {
      opacity: 0.7;
    }

    &.opacity-80 {
      opacity: 0.8;
    }

    &.opacity-90 {
      opacity: 0.9;
    }

    &.opacity-100 {
      opacity: 1;
    }
  }

  &.mobile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-size: 18px;
    line-height: 1.2;

    & > div {
      grid-column: span 2;
      padding: 1.5vw 2vw 0vw;
    }

    .instagram, .facebook {
      grid-column: span 1;
    }

    .email {
      flex-direction: column;
    }

    .opacity-row {
      height: 8vw;
      padding: 0;
    }
  }
}

@include responsive(small-desktop) {
  .footer {
    font-size: 16px;
  }
}

 @include responsive(tablet-landscape) {
   .footer {
     font-size: 14px;
   }
 }

.editions, .post-type-archive-product, .tax-product_cat, .single-product, .simulateur-de-devis, .cart, .my-account, .home {
  .footer {
    display: none;
  }

  nav .footer {
    display: grid;
  }
}


.workshops .footer {
  margin: 0 20px 50px;
}

.workshops nav .footer {
  margin: 30px 0 75px;
}

.bottom-gradient {
  width: 100%;
  height: 75px;
  background: linear-gradient(0deg, #FF6C2F 0%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
