/* GUIDE D IMPRESSION - PAGE */
.guide-d-impression {
	.bottom-gradient {
		position: relative;
	}

	.wrapper {
		overflow-x: hidden;
	}

	.footer {
		margin-bottom: 0;
	}

	&.cat-fixed .head-title {
		top: 80px;
	}

	svg * {
		stroke-width: 1px !important;
		vector-effect: non-scaling-stroke;
	}

	.svg-desktop {
		display: block;
	}

	.svg-mobile {
		display: none;
	}
}

html {
	scroll-behavior: smooth !important;
	scroll-padding-top: 7.9vw !important;
}
.guide-row {
	border-bottom: solid 1px #215BDF;
	padding: 0 20px 6vw;
  margin: 0 -20px 8vw;

	&:last-of-type {
		border-bottom: 0;
	}
}
.guide-row.guide-row-no_title {
	background-color: #FFF;
  margin-top: -10vw;
	margin-bottom: 2vw;
}
.row-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
}

.row-content svg {
	width: 100%;
	height: auto;
}

.row-content img {
	height: auto;
	margin: 0;
}
/*{
	max-width: calc(100% + 5vw);
    width: calc(100% + 5vw);
}*/
.gallery img {
	max-width: 100%;
    width: 100%;
}
.row-title {
	font-size: 5.5vw;
	font-weight: 500;
	letter-spacing: -2px;
}
.row-content p, .row-content a, .row-content li {
	font-size: var(--font-size2);
	margin-bottom: 2vw;
	line-height: 1.1;
}
.row-content p, .row-content li {
	padding-right: 5vw;
}
.row-content h3 {
	font-size: var(--font-size1);
	margin-bottom: 2vw;
	font-weight: inherit;
	min-height: 2.5vw;
}
.row-content h4 {
	font-size: var(--font-size1);
	margin-bottom: 2vw;
	margin-left: 4vw;
	min-height: 2.5vw;
}
.row-content li {
	margin-left: 4vw;
	position: relative;
	counter-increment: customlistcounter;
	list-style: none;
}
.row-content li p {
	margin-top: 2vw;
}
.row-content ol {
	list-style-type: none;
	margin-left: 0;
}
.row-content li:before {
	content: counter(customlistcounter) " ";
    display: block;
    width: 2vw;
    height: 2vw;
    position: absolute;
    border: solid 1px #215BDF;
    border-radius: 50%;
    left: -3.5vw;
    top: -0.3vw;
    text-align: center;
    padding-top: 0.15vw;
}
.row-content .gallery, .grid-2 {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.row-content .gallery.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}
.table {
	border: solid 1px #215BDF;
	margin-bottom: 20px;
	height: fit-content;
}
.table p {
	padding: 10px 10px 6px 10px;
    margin-bottom: 0;
    border-bottom: solid 1px #215BDF;
}
.table p:last-child {
	border-bottom: none;
}
.guide-row-1 .column-right svg {
	width: 33.7vw;
}
.guide-row-1 .column-left svg {
	width: 28vw;
}
.guide-row-1 .column-right svg .st0 {
	fill: transparent;
}
.guide-row-3 .column-right p {
	padding-right: 0;
}
.guide-row-2 .column-left h4 {
  margin-top: 2.7vw;
}
.guide-row-2 .column-right h3 {
	margin-bottom: 0;
}
.guide-row-4 .column-right img {
	max-width: calc(100% + 5vw);
    width: calc(100% + 5vw);
}
.guide-row-5 .column-right {
	padding-top: 4.55vw;
}
.guide-row-5 .column-left svg {
    width: 40.4vw;
}
.guide-row-5 .column-right svg, .guide-row-7 .column-right svg {
	max-width: calc(100% + 5vw);
    width: calc(100% + 5vw);
}
.guide-row-7 .column-right svg {
	width: 44vw;
}
.guide-row-8 svg, .guide-row-9 svg {
	margin-bottom: 20px;
	width: 100%;
}
.guide-row-9 .column-left svg {
	margin-bottom: 18px;
}
.guide-row-8 p, .guide-row-9 p {
	margin-bottom: 0;
	padding: 0;
}
.guide-row-10 .column-left p {
	padding-right: 2vw;
}
.guide-row-10 .column-right p, .guide-row-11 p {
	padding-right: 0;
	margin-bottom: 1.35vw;
}
.guide-row-11 svg {
	width: 100%;
}
.guide-row-12 .column-right {
	margin-top: 5.6vw;
}
.guide-row-12 .column-right p {
	position: relative;
	padding-right: 2.6vw;
	padding-bottom: 0.5vw;
}
.guide-row-12 .column-right svg {
	position: absolute;
    right: 0;
    bottom: 0;
    width: 23vw;
}

.guide-row-13 p:last-child {
	margin-top: auto;
}

.guide-row-13 h3 {
    margin-bottom: 10px;
}
.table-01 p:last-child {
	padding-bottom: 5.05vw;
}
.guide-row-13 p {
	padding-right: 0;
}

.fixed-wrapper {
	margin: 10vw 0 3vw;
}
.submenu {
	display: flex;
	border: 1px solid;
	font-weight: 400;
	font-size: 18px;
	background: #fff;
}

.cat-fixed .submenu {
	position: fixed;
	top: 51px;
	width: calc(100% - 40px);
	z-index: 1000;
}

.submenu-item {
	border-right: 1px solid $fideleblue;
	padding: 0.3vw 0.6vw 0;
	background: #fff;
	transition: all 0.4s ease;
	color: $fideleblue;

	a {
		transition: all 0.4s ease;
	}

	&:hover {
		@include linear-gradient(to right, $fideleblue 38.57%, $white 100%);
		color: #fff;

		a {
			color: #fff;
		}
	}
}
.submenu-item:last-of-type {
	border-right: 0;
	flex-grow: 1;
}

@include responsive(small-desktop) {
	.submenu {
		font-size: 16px;
	}

	.cat-fixed .submenu {
		top: 48px;
	}
}

 @include responsive(tablet-landscape) {
	 .submenu {
		 font-size: 14px;
	 }

	 .cat-fixed .submenu {
		 top: 45px;
	 }
 }

@include responsive(tablet-portrait) {
	.guide-d-impression {
		.page-title {
			flex-direction: column-reverse;
			width: 100%;

			& > div.download-row:first-child {
				display: flex;
				margin: 3vw 0;

				.download-button {
					max-width: 100%;
					border: 0;
					text-align: left;
					font-size: 10vw;
				}
			}
		}

		.svg-desktop {
			display: none;
		}

		.svg-mobile {
			display: block;
		}
	}

	.fixed-wrapper {
		margin: 0;
	}

	.cat-fixed .submenu {
		position: relative;
		top: 0;
		width: 100%;
	}

	.guide-d-impression.cat-fixed .head-title {
		top: 50px;
	}

	.submenu {
		font-size: var(--font-size1);
	}

	.guide-row {
		padding: 0px 15px 15vw;
    margin: 0 -15px 8vw;
	}

	.row-title {
		margin-bottom: 4vw;
		line-height: 1;
		font-size: 15vw;
		margin-top: 35vw;
	}

	.row-content {
		grid-template-columns: repeat(1, 1fr);
	}

	.row-content h3 {
		margin-bottom: 3vw;
	}

	.row-content p {
		margin-bottom: 7vw;
		padding-right: 0;
	}

	.row-content ol {
    margin-bottom: 6vw;
	}

	.row-content li {
		margin-left: 15px;
    position: relative;
    counter-increment: customlistcounter;
    list-style: none;
    padding-left: 8vw;

		&:before {
			width: 6vw;
    	height: 6vw;
			top: 0;
			padding-top: 0.6vw;
		}
	}

	.row-content .gallery, .grid-2 {
		margin-bottom: 8vw;
	}

	.submenu {
		flex-direction: column;
		border: none;
		margin-bottom: 180px;
	}

	.submenu-item {
		margin: 0 -15px;
    border-bottom: 1px solid;
    padding: 1.5vw 15px 1vw;
		border-right: 0;

		span {
			margin-right: 2vw;
		}

		&:last-of-type {
			border-bottom: 0;
		}
	}

	.guide-row-1 {
		.column-left {
			svg {
				width: 76%;
			}
		}

		.column-right {
			img, svg {
				width: 100%;
			}
		}
	}

	.guide-row-2 .column-left h4 {
    margin: 6vw 0 4vw 12vw;
	}

	.guide-row-2 .column-right h3 {
		margin-bottom: 3vw;
	}

	.guide-row-4 .row-content .gallery {
		margin-bottom: 0;
	}

	.guide-row-4 .column-right img, .guide-row-5 .column-right svg, .guide-row-7 .column-right svg {
    width: 100%;
		max-width: 100%;
	}

	.guide-row-5 .column-left svg {
	  width: 100%;
		height: auto;
	}

	.row-content .gallery.gallery-columns-4 {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 15px;
		column-gap: 15px;
		margin-bottom: 8vw;
	}

	.guide-row-7 .column-right svg {
    width: 100%;
	}

	.guide-row-8 {
		margin-bottom: 15px;
		padding-bottom: 0;
		border-bottom: 0;
	}

	.guide-row-8 .column-left .gallery, .guide-row-8 .column-right .gallery  {
		margin-bottom: 0;
	}

	.guide-row-8 svg, .guide-row-9 svg {
		margin-bottom: 0;
	}

	.guide-row-9.guide-row-no_title {
		margin-top: 0;
	}

	.guide-row-9 .column-left svg {
    margin-bottom: 20px;
	}

	.guide-row-9 .column-left p {
		margin-bottom: 0;
	}

	.guide-row-11.guide-row-no_title {
		margin-top: -18vw;
	}

	.table p {
		margin-bottom: 0.5vw;
	}

	.guide-row-12 .column-right {
    margin-top: 0;

		.grid-2 {
			grid-template-columns: repeat(1, 1fr);
			margin-bottom: 0;
			row-gap: 0;
		}

		svg {
			position: relative;
			width: 100%;
			margin-bottom: 3vw;
		}
	}

	.guide-row-13 {
		.column-left, .column-right {
			display: flex;
			flex-direction: column;
		}
	}

	.guide-row-13 svg {
		height: auto;
	}
}
