/**
 * partials/impression-riso
 * ---
 */


 /* Impression Riso - Page */
 .impression-riso {
   .head-title .category-icon {
     height: 35vw;
     margin-top: -2vw;
     margin-left: 2vw;
   }

   .bottom-gradient {
     display: none;
   }

   section {
     margin-bottom: 12vw;

     &:last-of-type {
       margin-bottom: 6vw;
     }
   }

   .simulateur-de-devis, .guide-d-impression {
     display: flex;
     flex-direction: column;
     align-items: center;

     .gif-item {
       justify-self: bottom;
       position: relative;
       max-width: 80%;
       height: auto;

       img {
         width: 100%;
         height: auto;
       }

       .hover {
         opacity: 0;
         position: absolute;
         left: 0;
         top: 0;
       }

       a:hover {
         .static {
           opacity: 0;
         }

         .hover {
           opacity: 1;
         }
       }
     }

     svg {
       margin-top: 2vw;
       width: 75%;
       height: auto;
     }
   }

   .guide-d-impression .gif-item {
     max-width: 90%;
     margin-top: 3vw;
   }

   .couleurs {
     margin-top: 30px;

     .row {
       border-bottom: 1px solid;

       &:last-of-type {
         border-bottom: 0;
       }
     }

     .single-colour {
       border: 1px solid;
     }

     .colour-title {
       p {
         padding: 0.5vw 0.4vw 0.2vw;
         line-height: 1;
       }
     }

     .form-opacity {
       display: flex;

       svg {
         width: 25%;
         height: auto;
         padding: 10px;
         padding: 0.8vw;
         border-right: 1px solid;
       }

       .colour-opacity {
         width: 75%;
         height: auto;
         display: grid;
         grid-template-columns: repeat(10, 1fr);
         grid-template-rows: repeat(3, 1fr);

         .gradient {
           grid-column: span 10;
           grid-row: span 2;
           border-bottom: 1px solid;
         }

         .opacity-module {
           background-color: $fideleblue;

           &.opacity-10 {
             opacity: 0.1;
           }

           &.opacity-20 {
             opacity: 0.2;
           }

           &.opacity-30 {
             opacity: 0.3;
           }

           &.opacity-40 {
             opacity: 0.4;
           }

           &.opacity-50 {
             opacity: 0.5;
           }

           &.opacity-60 {
             opacity: 0.6;
           }

           &.opacity-70 {
             opacity: 0.7;
           }

           &.opacity-80 {
             opacity: 0.8;
           }

           &.opacity-90 {
             opacity: 0.9;
           }

           &.opacity-100 {
             opacity: 1;
           }
         }
       }
     }

     .colour-hex {
       display: flex;
       font-size: 0.7vw;
       line-height: 0;

       .hex-code {
         width: 25%;
         height: auto;
         text-transform: uppercase;
         padding: 0.3vw 0.4vw 0.2vw;
         border-right: 1px solid;
       }

       .percent-opacity {
         width: 75%;
         height: auto;
         display: grid;
         grid-template-columns: repeat(10, 1fr);
         grid-template-rows: repeat(1, 1fr);

         .percent-module {
           display: flex;
           align-items: center;
           border-right: 1px solid;
           padding: 0.3vw 0 0.2vw 0.4vw;

           &:last-of-type {
             border-right: 0;
           }
         }
       }
     }
   }

   .exemples-galerie {
     margin-top: 2vw;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     column-gap: 20px;
     row-gap: 20px;
     position: relative;

     .single-image img {
       object-fit: cover;
       width: 100%;
       height: 100%;
     }

     .gradient {
       position: absolute;
       width: 100%;
       height: 50px;
       bottom: 0;
       left: 0;
       background: linear-gradient(transparent 30%, #fff 100%);
     }
   }
 }

 @include responsive(big-desktop) {
   .impression-riso {
     .grid.col-3.couleurs {
       grid-template-columns: repeat(4, 1fr);

       .colour-hex .percent-opacity .percent-module {
         padding: 0.1vw 0.1vw 0;
       }
     }
   }
 }

 @include responsive(tablet-portrait) {
   .impression-riso {
     .grid.col-2 {
       grid-template-columns: repeat(1, 1fr);
       column-gap: 15px;
       row-gap: 15px;
     }

     .simulateur-de-devis .gif-item, .guide-d-impression .gif-item {
       max-width: 100%;
     }

     .grid.col-3.couleurs {
       grid-template-columns: repeat(1, 1fr);
       column-gap: 15px;
       row-gap: 15px;

       .colour-title p {
         padding: 1.5vw 1.5vw 0.5vw;
       }

       .form-opacity svg {
         padding: 2vw;
       }

       .colour-hex {
         font-size: 2.5vw;

         .hex-code, .percent-module {
           padding-top: 1vw;
           padding-left: 0.5vw;
         }
       }
     }

     .exemples-galerie {
       grid-template-columns: repeat(3, 1fr);
       column-gap: 8px;
       row-gap: 8px;
       margin-top: 10vw;
       margin-bottom: 20vw;
     }
   }
 }
