/**
 * partials/nav
 * ---
 * Menus
 */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 20px 0;
  z-index: 1001;
}

.nav {
  border: 1px solid $fideleblue;

  #menu-item-258, #menu-item-321 {
    display: none;
    flex-grow: 1;
  }

  div {
    display: flex;
  }

  a {
    color: $fideleblue;
    font-weight: 500;
    transition: all 0.5s ease;

    &:hover {
      text-decoration: none;
    }
  }

  li {
    list-style: none;
    color: $fideleblue;
    border-right: 1px solid $fideleblue;
    padding: 3px 9px 0;
    background: $white;
    transition: all 0.5s ease;
    font-size: 18px;

    &:last-of-type {
      border-right: 0;
    }

    &:hover {
      background: linear-gradient(90deg, $fideleblue 38.57%, $white 100%);

      a {
        color: $white;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  #menu-item-42 {
    flex-grow: 1;
  }
}

.nav-mobile {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 35vw;
  z-index: 1000;
  background: #fff;
  transition: all 0.3s ease;
  font-size: var(--font-size1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  li {
    list-style: none;
    border-bottom: 1px solid;
    padding-top: 1.5vw;

    &.menu-item-89 {
      border-bottom: 0;
    }

    a {
      font-size: var(--font-size1);
    }
  }

  .menu-item-258, .menu-item-46, .menu-item-47, .menu-item-167 {
    display: none;
  }
}

.head-title {
  margin-top: 20px;
  width: fit-content;
  height: auto;
  display: flex;
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 1000;
  align-items: flex-start;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear;

  &.scroll {
    opacity: 0;
    visibility: hidden;
  }

  &.visible, &.scroll.visible {
    opacity: 1;
    visibility: visible;
    display: flex !important;
  }

  .logo {
    width: 16vw;
    height: auto;
  }

  .category-icon {
    height: 9vw;
    width: auto;
    margin-left: 1vw;
    stroke-width: 2.5;
  }

  .page-title {
    width: 50%;

    h1 {
      letter-spacing: -0.02em;
    }
  }
}

@include responsive(small-desktop) {
  .nav li {
    font-size: 16px;
  }
}

 @include responsive(tablet-landscape) {
   .nav li {
     font-size: 14px;
   }
 }


@include responsive(tablet-portrait) {
  .header {
    padding: 15px 15px 0;
  }

  .head-title {
    left: 15px;

    .logo {
      width: 45vw;
    }

    .category-icon {
      height: 35vw;
    }
  }

  .nav-mobile {
    .menu-item-321 {
      display: none !important;
    }
  }

  .nav {
    .menu-item {
      display: none;
    }

    #menu-item-258, #menu-item-167, #menu-item-321 {
      display: block;
    }

    li:hover {
      background: white;
      color: $fideleblue;

      a {
        color: $fideleblue;
      }
    }
  }
}
