/* Simulateur de devis - Page */
.simulateur-de-devis {
  .wrapper {
    overflow-x: hidden;
  }

  .append {
    display: none;
  }

  .gif-item {
    img {
      width: 100%;
      height: auto;
    }

    .hover {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      .static {
        opacity: 0;
      }

      .hover {
        opacity: 1;
      }
    }
  }

  .wrapper {
    padding-bottom: 0;
    overflow-y: hidden;
  }

  .simulateur-header {
    display: flex;

    h1 {
      max-width: 60%;
    }
  }
}

.steps-wrapper {
  margin: 0 -10px;

  .step-title, .actions {
    display: none;
  }

  .steps {
    font-size: 2.3vw;
    display: flex;
    position: absolute;
    top: 70px;
    right: 20px;

    ul {
      display: flex;
      list-style: none;
      margin-right: 0.5vw;

      li {
        width: 3vw;
        height: 3vw;
        margin-top: 0.8vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;

        &.disabled a {
          cursor: inherit;
        }

        a:focus {
          text-decoration: none;
          border: none;
          outline: 0;
        }

        &.current {
          border: 1px solid;
        }
      }
    }

    .arrow {
      width: 6vw;
      height: auto;
      transition: all 0.2s ease;
      visibility: visible;
      opacity: 1;

      &.enable {
        cursor: pointer;
      }

      &.hidden {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

.simulateur-steps {
  &.step-1 {
    position: relative;
    height: 38vw;
    top: -4vw;

    svg:hover {
      cursor: pointer;

      .background-svg {
        fill: $fideleblue;
      }

      .stroke-svg {
        stroke: white;
      }

      .text-svg {
        fill: white;
      }

      .background-stroke-svg {
        fill: $fideleblue;
        stroke: white;
      }
    }

    #brochures {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 48%;
      transform: translateX(-50%);
      width: 30vw;
      height: auto;
    }

    #affiches {
      position: absolute;
      top: 4vw;
      left: 2vw;
      z-index: 1;
      width: 30vw;
      height: auto;
    }

    #dos-colles {
      position: absolute;
      top: -6vw;
      right: 2vw;
      z-index: 2;
      width: 30vw;
      height: auto;
    }

    #spirale {
      position: absolute;
      bottom: 0;
      right: 2vw;
      z-index: 3;
      width: 30vw;
      height: auto;
    }

    #fanzines {
      position: absolute;
      z-index: 4;
      bottom: -2vw;
      left: 50%;
      transform: translateX(-50%);
      width: 32vw;
      height: auto;
    }
  }

  &.step-2 {
    margin-top: 2vw;

    .calculator-title h3 {
      font-weight: 400;
      padding: 0 10px;
      margin: 1.5vw 0 0.5vw;
    }

    .dropdown {
      display: flex;

      .dropdown-item {
        transition: all 0.3s ease-in-out;
        width: 50%;
        padding: 0 10px;
        overflow: hidden;

        &.couleurs {
          .dropdown-content {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            transition: all 0.3s ease-in-out;
            opacity: 0;
            height: 0;

            .couleur {
              width: 100%;
              height: 8vw;
            }
          }
        }

        .dropdown-button {
          width: 100%;
          position: relative;
          border-bottom: 1px solid;
          cursor: pointer;

          &::after {
            content: '';
            width: 2.5vw;
            height: 2vw;
            position: absolute;
            right: 0;
            top: 0;
            background: url(img/select-arrow.svg) right 0.1vw center no-repeat;
            background-size: contain;
            transition: all 0.3s ease;
          }
        }

        &.open {
          width: 100%;

          .dropdown-content {
            display: grid;
            opacity: 1;
            height: auto;
          }

          .dropdown-button::after {
            transform: rotate(-180deg);
          }
        }

        &.hide {
          width: 0%;
          opacity: 0;
          padding: 0;
        }
      }
    }
  }

  &.step-3 {
    padding: 0 10px;

    .form {
      display: none;

      &.visible {
        display: block;
      }
    }

    .submit-hidden {
      display: none;
    }

    .hidden {
      display: none;
    }
  }
}

.calculators {
  display: none;

  &.visible {
    display: block;
  }
}

.calconic-calculator  {
  #lumi-calculator-5e99c26393d11a001e5e0fb2,
  #lumi-calculator-5ea1bde1a4ca0d00290b1848,
  #lumi-calculator-5f2c6f18a2d88c002959c5f1,
  #lumi-calculator-5e9dbdaaa4ca0d00290b12c8,
  #lumi-calculator-5ea1b573a4ca0d00290b1835,
  #lumi-calculator-5ea1c010a4ca0d00290b1850 {
    border: 0 !important;
    font-family: "Unica77 LL", sans-serif !important;
    font-size: 1.3vw !important;

    .calconic-element {
      padding: 10px;
      background-color: inherit !important;
    }

    .calconic-element-label label {
      font-family: "Unica77 LL", sans-serif !important;
      font-size: 1.3vw !important;
      font-weight: 400 !important;
    }

    .calconic-element.calconic-title-wrapper h2 {
      font-weight: 500 !important;
      font-size: 2.5vw !important;
    }

    .calconic-input input, .calconic-select .rc-select-selection__rendered {
      font-size: 1.8vw !important;
    }

    input[id*='#49'] {
      text-align: center !important;
    }

    .calconic-element.calconic-divider-wrapper {
      padding: 0 !important;
      margin: 0 0 0 -10px !important;

      .calconic-divider {
        width: 100vw;
      }
    }

    .rc-select-arrow {
      background: url("img/select-arrow.svg") center center no-repeat;
      background-size: contain;
      height: 35px;
      position: absolute;
      top: 4px;
      right: 10px;
      width: 35px;


      .rc-select-arrow-icon {
        display: none;
      }
    }

    .calconic-element.calconic-formula {
      display: flex;
      align-items: flex-end;
      border-right: 1px solid;
      height: 100%;
      margin-top: -6px;
      padding-left: 20px;
      padding-bottom: 100px;
      background-color: transparent !important;

      .calconic-element-label {
        margin: 0;
        margin-right: 5px;
      }
    }

    .calconic-slider-wrapper#ref-r3 .rc-slider-rail, .calconic-slider-wrapper#ref-r4 .rc-slider-rail, .calconic-slider .rc-slider-rail {
      background: #fff !important;
      border: 1px solid;
    }

    .calconic-formula p, .calconic-element-label label {
      font-family: "Unica77 LL", sans-serif !important;
    }

    .calconic-slider .slider-size-big .rc-slider-rail::after {
      background: #fff !important;
      top: -1px;
      border: 1px solid;
      border-left: 0;
      border-radius: 0 50% 50% 0;
    }

    .calconic-slider .slider-size-big .rc-slider-rail::before {
      background: $fideleblue !important;
      top: -1px;
      border: 1px solid;
    }

    .calconic-slider .rc-slider-dot {
      border-color: $fideleblue !important;
      background-color: $fideleblue !important;
    }

    .calconic-slider-wrapper .rc-slider-mark-text {
      color: $fideleblue !important;
    }

    .calconic-slider__wrapper.slider-size-big .rc-slider-handle {
      &::after {
        content: none;
      }
    }


    #ref-r17.calconic-element.calconic-formula {
      background-color: transparent !important;
    }

    #ref-r33.calconic-element.calconic-formula, #ref-r48.calconic-element.calconic-formula, #ref-r36.calconic-element.calconic-formula {
      border-right: 0;
    }
  }

  .built-with-calconic {
    display: none !important;
  }
}

.simulateur-steps .form {
  .row {
    margin: 10px 0;
  }

  input, textarea {
      font-size: var(--font-size2);;
      line-height: 1.1;
      border: 1px solid $fideleblue;
      border-radius: 0;
      padding: 8px;
      width: 100%;
      color: $fideleblue;

      &:focus {
        outline: none;
      }
  }

  label {
    font-size: var(--font-size3);;
  }

  .two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .custom-file-upload {
    border: 1px solid $fideleblue;
    display: block;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-size: var(--font-size2);;
  }

  #file-upload {
    display: none;
  }

  textarea {
    resize: none;
    border: 1px solid $fideleblue;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .hidden-inputs {
    display: none;
  }

  .submit-wrapper {
    margin-top: -29vw;
    margin-bottom: 5vw;
    right: -6vw;
    position: relative;
    display: flex;
    justify-content: flex-end;

    .submit-button {
      width: 35vw;
      height: auto;
      position: relative;
    }

    .wpcf7-submit {
      display: none;
    }
  }
}

.wpcf7-not-valid-tip {
  font-size: var(--font-size3);;
  padding-top: 0.5vw;
}

@include responsive(tablet-portrait) {
  .simulateur-de-devis {
    .simulateur-header {
      h1 {
        max-width: 100%;
      }
    }
  }

  .steps-wrapper {
    .steps {
      top: 20vw;
      right: 15px;
      font-size: var(--font-size1);

      ul li {
        width: 7vw;
        height: 7vw;
      }

      .arrow {
        display: none;
      }
    }
  }

  .simulateur-steps {
    &.step-1 {
      height: auto;
      padding: 0 15px;

      #affiches, #brochures, #fanzines, #dos-colles, #spirale {
        position: relative;
        width: 100%;
        height: auto;
      }

      #brochures {
        top: -3vw;
      }

      #fanzines {
        top: -10vw;
      }

      #dos-colles {
        top: -30vw;
        z-index: 4;
      }

      #spirale {
        top: -40vw;
        z-index: 5;
      }
    }

    &.step-2 {
      .dropdown {
        flex-direction: column;
        font-size: var(--font-size1);

        .dropdown-item {
          width: 100%;
          padding: 2vw;

          .dropdown-button::after {
            background-size: contain;
            height: 35px;
            position: absolute;
            top: 3px;
            right: 10px;
            width: 35px;
          }

          &.hide {
            width: 100%;
            opacity: 1;
            padding: 2vw;
          }
        }

        .dropdown-item.couleurs {
          .dropdown-content {
            grid-template-columns: repeat(6, 1fr);

            .couleur {
              height: 15vw;
            }
          }
        }
      }

      .calculator-title h3 {
        font-size: var(--font-size1);
        margin: 8vw 0 1.5vw;
      }
    }
  }

  .calconic-calculator  {
    #lumi-calculator-5e99c26393d11a001e5e0fb2,
    #lumi-calculator-5ea1bde1a4ca0d00290b1848,
    #lumi-calculator-5f2c6f18a2d88c002959c5f1,
    #lumi-calculator-5e9dbdaaa4ca0d00290b12c8,
    #lumi-calculator-5ea1b573a4ca0d00290b1835,
    #lumi-calculator-5ea1c010a4ca0d00290b1850 {
      border: 0 !important;
      font-family: "Unica77 LL", sans-serif !important;
      font-size: var(--font-size1) !important;

      .calconic-element {
        padding: 10px;
        margin: 1vw 0;
        background-color: inherit !important;
        height: auto;
      }

      .calconic-element-label label {
        font-size: var(--font-size2) !important;
      }

      .calconic-element.calconic-title-wrapper h2 {
        font-weight: 500 !important;
        font-size: var(--font-size2) !important;
      }

      .calconic-input input, .calconic-select .rc-select-selection__rendered {
        font-size: var(--font-size1) !important;
      }

      .calconic-element.calconic-title-wrapper h2 {
        font-weight: 500 !important;
        font-size: var(--font-size1) !important;
      }

      input[id*='#49'] {
        text-align: center !important;
      }

      .calconic-element.calconic-divider-wrapper {
        padding: 0 !important;
        margin: 0 0 0 -10px !important;

        .calconic-divider {
          width: 100vw;
        }
      }

      .calconic-element.calconic-formula {
        display: flex;
        justify-content: space-between;
        border-right: 0;
        border-bottom: 1px solid;
        height: auto !important;
        margin-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 4vw;
        background-color: transparent !important;

        .calconic-element-label {
          margin: 0;
          margin-right: 5px;
        }
      }

      .calconic-slider-wrapper#ref-r3 .rc-slider-rail, .calconic-slider-wrapper#ref-r4 .rc-slider-rail {
        background: #e2e2e2 !important;
      }

      #ref-r17.calconic-element.calconic-formula {
        background-color: transparent !important;
      }

      #ref-r33.calconic-element.calconic-formula, #ref-r48.calconic-element.calconic-formula, #ref-r36.calconic-element.calconic-formula {
        border-right: 0;
      }
    }
  }

  .simulateur-steps .form {
    input {
      font-size: var(--font-size1);
    }

    label {
        font-size: var(--font-size2);
    }

    .two-col {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 10px;
    }

    .custom-file-upload {
      font-size: var(--font-size1);
      padding: 8vw 4vw;
    }

    .submit-wrapper {
      margin-top: -31vw;
      overflow: hidden;
      margin-right: -15vw;
      position: initial;
      margin-bottom: 20vw;

      .submit-button {
        width: 80vw;
      }
    }
  }
}
