/* Simulateur de devis - Page */
.simulateur-de-devis {
  .wrapper {
    overflow-x: hidden;
  }

  .append {
    display: none;
  }

  .gif-item {
    .desktop {
      display: block;
    }

    .big-desktop, .mobile {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
    }

    svg {
      width: 100%;
      height: auto;
    }

    svg * {
     stroke-width: 1px !important;
     vector-effect: non-scaling-stroke;
    }

    .hover {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      .static {
        opacity: 0;
      }

      .hover {
        opacity: 1;
      }
    }
  }

  .wrapper {
    padding-bottom: 0;
    overflow-y: hidden;
  }

  .simulateur-header {
    display: flex;

    h1 {
      max-width: 60%;
    }
  }
}

.steps-wrapper {
  margin: 0 -10px;

  .step-title, .actions {
    display: none;
  }

  .steps {
    font-size: 2.3vw;
    display: flex;
    position: absolute;
    top: 70px;
    right: 20px;

    ul {
      display: flex;
      list-style: none;
      margin-right: 0.5vw;

      li {
        width: 3vw;
        height: 3vw;
        margin-top: 0.8vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;

        &.disabled a {
          cursor: inherit;
        }

        &.disable {
          pointer-events: none;
        }

        a:focus {
          text-decoration: none;
          border: none;
          outline: 0;
        }

        &.current {
          border: 1px solid;
        }
      }
    }

    .arrow {
      width: 6vw;
      height: auto;
      transition: all 0.2s ease;
      visibility: visible;
      opacity: 1;

      &.enable {
        cursor: pointer;
      }

      &.hidden {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

.simulateur-steps {
  .step-subtitle {
    margin: 0 5px;
    max-width: 25%;
    line-height: 1.1;
  }

  &.step-1 {
    position: relative;
    height: 38vw;
    top: -4vw;

    svg:hover {
      cursor: pointer;

      .background-svg {
        fill: $fideleblue;
      }

      .stroke-svg {
        stroke: white;
      }

      .text-svg {
        fill: white;
      }

      .background-stroke-svg {
        fill: $fideleblue;
        stroke: white;
      }
    }

    #brochures {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 48%;
      transform: translateX(-50%);
      width: 30vw;
      height: auto;
    }

    #affiches {
      position: absolute;
      top: 4vw;
      left: 2vw;
      z-index: 1;
      width: 30vw;
      height: auto;
    }

    #dos-colles {
      position: absolute;
      top: -6vw;
      right: 2vw;
      z-index: 2;
      width: 30vw;
      height: auto;
    }

    #spirale {
      position: absolute;
      bottom: 0;
      right: 2vw;
      z-index: 3;
      width: 30vw;
      height: auto;
    }

    #fanzines {
      position: absolute;
      z-index: 4;
      bottom: -2vw;
      left: 50%;
      transform: translateX(-50%);
      width: 32vw;
      height: auto;
    }
  }

  &.step-2 {
    margin-top: 2vw;

    .calculator-title h3 {
      font-weight: 400;
      padding: 0 10px;
      margin: 2vw 0 0.5vw;
    }

    .dropdown {
      display: flex;

      .dropdown-item {
        transition: all 0.3s ease-in-out;
        width: 50%;
        padding: 0 10px;
        overflow: hidden;

        .couleurs-hover {
          position: absolute;
          left: 100%;
          top: 0;
          z-index: 4;
          background: #fff;
          visibility: hidden;
          opacity: 0;
          width: 24.3vw;
          pointer-events: none;

          .row {
            border-bottom: 1px solid;

            &:last-of-type {
              border-bottom: 0;
            }
          }

          .single-colour {
            border: 1px solid;
          }

          .colour-title {
            p {
              padding: 0.5vw 0.4vw 0.2vw;
              line-height: 1;
              font-size: 1.5vw;
            }
          }

          .form-opacity {
            display: flex;

            svg {
              width: 21%;
              height: auto;
              padding: 10px;
              padding: 0.5vw;
              border-right: 1px solid;
            }

            .colour-opacity {
              width: 79%;
              height: auto;
              display: grid;
              grid-template-columns: repeat(10, 1fr);
              grid-template-rows: repeat(3, 1fr);

              .gradient {
                grid-column: span 10;
                grid-row: span 2;
                border-bottom: 1px solid;
              }

              .opacity-module {
                background-color: $fideleblue;

                &.opacity-10 {
                  opacity: 0.1;
                }

                &.opacity-20 {
                  opacity: 0.2;
                }

                &.opacity-30 {
                  opacity: 0.3;
                }

                &.opacity-40 {
                  opacity: 0.4;
                }

                &.opacity-50 {
                  opacity: 0.5;
                }

                &.opacity-60 {
                  opacity: 0.6;
                }

                &.opacity-70 {
                  opacity: 0.7;
                }

                &.opacity-80 {
                  opacity: 0.8;
                }

                &.opacity-90 {
                  opacity: 0.9;
                }

                &.opacity-100 {
                  opacity: 1;
                }
              }
            }
          }

          .colour-hex {
            display: flex;
            font-size: 0.65vw;
            line-height: 0;

            .hex-code {
              width: 21%;
              height: auto;
              text-transform: uppercase;
              padding: 0.3vw 0.1vw 0.1vw 0.3vw;
              border-right: 1px solid;
            }

            .percent-opacity {
              width: 79%;
              height: auto;
              display: grid;
              grid-template-columns: repeat(10, 1fr);
              grid-template-rows: repeat(1, 1fr);

              .percent-module {
                display: flex;
                align-items: center;
                border-right: 1px solid;
                padding: 0.4vw 0vw 0.2vw 0.2vw;

                &:last-of-type {
                  border-right: 0;
                }
              }
            }
          }
        }

        &.couleurs {
          .dropdown-content {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            transition: all 0.3s ease-in-out;
            opacity: 0;
            height: 0;

            .couleur {
              width: 100%;
              height: 8vw;
              position: relative;

              &:hover .couleurs-hover {
                visibility: visible;
                opacity: 1;
              }


              &:nth-child(10n), &:nth-child(11n), &:nth-child(11n + 1),  &:nth-child(12n)  {
                .couleurs-hover {
                  left: initial;
                  right: 100%;
                }
              }

              &:nth-child(1) .couleurs-hover {
                left: 100%;
                right: initial;
              }
            }
          }
        }

        &.papers {
          .dropdown-content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            height: 0;
          }

          .row_title {
            margin-top: 10px;
            font-size: var(--font-size1);
          }

          .single-paper {
            display: flex;
            margin-bottom: 20px;

            img {
              width: 35%;
              height: auto;
              margin-right: 20px;
              border: 1px solid;
            }

            .paper-description {
              align-self: flex-end;

              h3 {
                font-size: var(--font-size2);
                font-weight: 400;
                margin-bottom: 0.5vw;
              }

              p {
                font-size: var(--font-size3);
              }
            }
          }
        }

        .dropdown-button {
          width: 100%;
          position: relative;
          border-bottom: 1px solid;
          cursor: pointer;

          &::after {
            content: '';
            width: 2.5vw;
            height: 2vw;
            position: absolute;
            right: 0;
            top: 0;
            background: url(img/select-arrow.svg) right 0.1vw center no-repeat;
            background-size: contain;
            transition: all 0.3s ease;
          }
        }

        &.open {
          width: 100%;

          .dropdown-content {
            display: grid;
            opacity: 1;
            height: auto;
          }

          .dropdown-button::after {
            transform: rotate(-180deg);
          }
        }

        &.hide {
          width: 0%;
          opacity: 0;
          padding: 0;
        }
      }
    }
  }

  &.step-3 {
    padding: 0 10px;

    .form {
      display: none;

      &.visible {
        display: block;
      }
    }

    .submit-hidden {
      display: none;
    }

    .hidden {
      display: none;
    }
  }
}

.calculators {
  opacity: 0;
  height: 0;

  &.visible {
    opacity: 1;
    height: auto;
  }
}

.calconic-calculator  {
  #lumi-calculator-5e99c26393d11a001e5e0fb2,
  #lumi-calculator-5ea1bde1a4ca0d00290b1848,
  #lumi-calculator-5f2c6f18a2d88c002959c5f1,
  #lumi-calculator-5e9dbdaaa4ca0d00290b12c8,
  #lumi-calculator-5ea1b573a4ca0d00290b1835,
  #lumi-calculator-5ea1c010a4ca0d00290b1850 {
    border: 0 !important;
    font-family: "Unica77 LL", sans-serif !important;
    font-size: 1.3vw !important;

    .calconic-element {
      padding: 10px 10px;
      display: block;
      background-color: inherit !important;
    }

    .calconic-element-label label {
      font-family: "Unica77 LL", sans-serif !important;
      font-size: 1.3vw !important;
      font-weight: 400 !important;
    }

    .calconic-element.calconic-info-wrapper {
      border: 1px solid;
      margin: 10px;
      cursor: pointer;

      .calconic-element-label {
        margin-bottom: 0;
        text-align: center !important;

        label {
          font-size: var(--font-size2) !important;
          cursor: pointer;
        }
      }

      .calconic-element-controls {
        display: none !important;
      }
    }

    .calconic-element.calconic-title-wrapper h2 {
      font-weight: 500 !important;
      font-size: 2.5vw !important;
    }

    .calconic-input input, .calconic-select .rc-select-selection__rendered {
      font-size: 1.8vw !important;
      font-family: "Unica77 LL", sans-serif !important;
      border-radius: none !important;
      margin-left: 5px;
    }

    .calconic-select .rc-select .rc-select-selection--single {
      padding: 8px 7px;
    }

    .calconic-input input {
      padding: 10px 10px 5px;
    }

    .rc-select-selection--single .rc-select-selection-selected-value {
      top: 3px;
    }

    input[id*='#49'] {
      text-align: center !important;
    }

    .calconic-element.calconic-divider-wrapper {
      padding: 0 !important;
      margin: 40px 0 0 -10px !important;

      .calconic-divider {
        width: 100vw;
      }
    }

    .rc-select-arrow {
      background: url("img/select-arrow.svg") center center no-repeat;
      background-size: contain;
      height: 35px;
      position: absolute;
      top: 2px;
      right: 10px;
      width: 35px;


      .rc-select-arrow-icon {
        display: none;
      }
    }

    .calconic-element.calconic-formula {
      display: flex;
      align-items: flex-end;
      border-right: 1px solid;
      height: 100%;
      margin-top: 30px;
      padding-left: 20px;
      padding-bottom: 100px;
      background-color: transparent !important;

      .calconic-element-label {
        margin: 0;
        margin-right: 5px;
      }

      .calconic-element-controls {
        bottom: -6px;
        position: relative;
      }
    }

    .calconic-slider-wrapper#ref-r3 .rc-slider-rail, .calconic-slider-wrapper#ref-r4 .rc-slider-rail, .calconic-slider .rc-slider-rail {
      background: #fff !important;
      border: 1px solid;
    }

    .calconic-formula p, .calconic-element-label label {
      font-family: "Unica77 LL", sans-serif !important;
    }

    .calconic-slider .slider-size-big .rc-slider-rail::after {
      background: #fff !important;
      top: -1px;
      border: 1px solid;
      border-left: 0;
      border-radius: 0 50% 50% 0;
    }

    .calconic-slider .slider-size-big .rc-slider-rail::before {
      background: $fideleblue !important;
      top: -1px;
      border: 1px solid;
    }

    .calconic-slider .rc-slider-dot {
      border-color: $fideleblue !important;
      background-color: $fideleblue !important;
    }

    .calconic-slider-wrapper .rc-slider-mark-text {
      color: $fideleblue !important;
    }

    .calconic-slider__wrapper.slider-size-big .rc-slider-handle {
      &::after {
        content: none;
      }
    }


    #ref-r17.calconic-element.calconic-formula {
      background-color: transparent !important;
    }

    #ref-r33.calconic-element.calconic-formula, #ref-r48.calconic-element.calconic-formula, #ref-r36.calconic-element.calconic-formula {
      border-right: 0;
    }
  }

  .built-with-calconic {
    display: none !important;
  }
}

.simulateur-steps .form {
  .row {
    margin: 10px 0;
  }

  input, textarea {
      font-size: var(--font-size2);;
      line-height: 1.1;
      border: 1px solid $fideleblue;
      border-radius: 0;
      padding: 8px;
      width: 100%;
      color: $fideleblue;

      &:focus {
        outline: none;
      }
  }

  label {
    font-size: var(--font-size3);;
  }

  .two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .custom-file-upload {
    border: 1px solid $fideleblue;
    display: block;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-size: var(--font-size2);;
  }

  #file-upload {
    display: none;
  }

  textarea {
    resize: none;
    border: 1px solid $fideleblue;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .hidden-inputs {
    display: none;
  }

  .submit-wrapper {
    margin-top: -15vw;
    margin-bottom: 5vw;
    right: -6vw;
    position: relative;
    display: flex;
    justify-content: flex-end;

    .submit-button {
      width: 35vw;
      height: auto;
      position: relative;
    }

    .wpcf7-submit {
      display: none;
    }
  }
}

.wpcf7-not-valid-tip {
  font-size: var(--font-size3);;
  padding-top: 0.5vw;
}

@include responsive(big-desktop) {
  .simulateur-de-devis {
    .gif-item {
      .big-desktop {
        display: block;
      }

      .mobile, .desktop {
        display: none;
      }
    }
  }
}

@include responsive(tablet-portrait) {
  .simulateur-de-devis {
    .category-icon {
      display: none;
    }

    .simulateur-header {
      h1 {
        max-width: 100%;
      }
    }

    .footer {
      display: grid;
    }

    .gif-item {
      .mobile {
        display: block;
      }

      .big-desktop, .desktop {
        display: none;
      }
    }
  }

  .steps-wrapper {
    .steps {
      top: 18vw;
      right: 15px;
      font-size: var(--font-size1);

      ul li {
        width: 7vw;
        height: 7vw;
      }

      .arrow {
        display: none;
      }
    }
  }

  .simulateur-steps {
    .step-subtitle {
      max-width: 100%;
      font-size: var(--font-size1);
      margin: 20px -7px 5px;
    }

    &.step-1 {
      height: auto;
      padding: 0 15px;

      #affiches, #brochures, #fanzines, #dos-colles, #spirale {
        position: relative;
        width: 100%;
        height: auto;
      }

      #brochures {
        top: -3vw;
      }

      #fanzines {
        top: -10vw;
      }

      #dos-colles {
        top: -30vw;
        z-index: 4;
      }

      #spirale {
        top: -40vw;
        z-index: 5;
      }
    }

    &.step-2 {
      .dropdown {
        flex-direction: column;
        font-size: var(--font-size1);

        .dropdown-item {
          width: 100%;
          padding: 2vw;

          .dropdown-button::after {
            background-size: contain;
            height: 35px;
            position: absolute;
            top: 3px;
            right: 10px;
            width: 35px;
          }

          &.hide {
            width: 100%;
            opacity: 1;
            padding: 2vw;
          }
        }

        .dropdown-item.couleurs {
          .dropdown-content {
            grid-template-columns: repeat(6, 1fr);

            .couleur {
              height: 15vw;
            }
          }
        }

        .dropdown-item.papers {
          .dropdown-content {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0;
          }

          .row_title {
            margin-top: 10px;
            font-size: var(--font-size1);
          }

          .single-paper {
            display: flex;
            margin-bottom: 20px;

            img {
              width: 35%;
              height: auto;
              margin-right: 20px;
              border: 1px solid;
            }

            .paper-description {
              align-self: flex-end;

              h3 {
                font-size: var(--font-size1);
                font-weight: 400;
                margin-bottom: 2vw;
              }

              p {
                font-size: var(--font-size3);
              }
            }
          }
        }
      }

      .calculator-title h3 {
        font-size: var(--font-size1);
        margin: 8vw 0 1.5vw;
      }
    }
  }

  .calconic-calculator  {
    margin-bottom: 40px;

    #lumi-calculator-5e99c26393d11a001e5e0fb2,
    #lumi-calculator-5ea1bde1a4ca0d00290b1848,
    #lumi-calculator-5f2c6f18a2d88c002959c5f1,
    #lumi-calculator-5e9dbdaaa4ca0d00290b12c8,
    #lumi-calculator-5ea1b573a4ca0d00290b1835,
    #lumi-calculator-5ea1c010a4ca0d00290b1850 {
      border: 0 !important;
      font-family: "Unica77 LL", sans-serif !important;
      font-size: var(--font-size1) !important;

      .calconic-element {
        padding: 10px;
        margin: 10px 0;
        background-color: inherit !important;
        height: auto;
      }

      .calconic-element-label label {
        font-size: var(--font-size2) !important;
        font-family: "Unica77 LL", sans-serif !important;
      }

      .calconic-input input, .calconic-select .rc-select-selection__rendered {
        font-size: var(--font-size1) !important;
        font-family: "Unica77 LL", sans-serif !important;
      }

      .calconic-element.calconic-title-wrapper h2 {
        font-weight: 400 !important;
        font-size: var(--font-size1) !important;
        font-family: "Unica77 LL", sans-serif !important;
      }

      input[id*='#49'] {
        text-align: center !important;
      }

      .calconic-element.calconic-divider-wrapper {
        padding: 0 !important;
        margin: 0 0 0 -10px !important;
        display: none;

        .calconic-divider {
          width: 100vw;
        }
      }

      .calconic-element.calconic-formula {
        display: flex;
        justify-content: space-between;
        border-right: 0;
        border-bottom: 1px solid;
        height: auto !important;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 4vw;
        background-color: transparent !important;

        .calconic-element-label {
          margin: 0;
          margin-right: 5px;
        }

        &:nth-last-of-type() {
          border-bottom: 0;
        }
      }

      .calconic-element.calconic-info-wrapper {
        margin: 20px 10px 30px;
      }

      #ref-r17.calconic-element.calconic-formula {
        background-color: transparent !important;
      }

      #ref-r33.calconic-element.calconic-formula, #ref-r48.calconic-element.calconic-formula, #ref-r36.calconic-element.calconic-formula {
        border-right: 0;
      }
    }
  }

  .simulateur-steps .form {
    input {
      font-size: var(--font-size1);
    }

    label {
        font-size: var(--font-size2);
    }

    .two-col {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 10px;
    }

    .custom-file-upload {
      font-size: var(--font-size1);
      padding: 8vw 4vw;
    }

    .submit-wrapper {
      margin-top: -31vw;
      overflow: hidden;
      margin-right: -15vw;
      position: initial;
      margin-bottom: 20vw;

      .submit-button {
        width: 80vw;
      }
    }
  }
}
