/* WORKSHOPS - PAGE */
.workshops {
  .bottom-gradient {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .wrapper {
    padding: 0;
  }

  .page-title {
    .title-left {
      display: none;
    }
  }

  .subtitle, .row {
    padding-left: 20px;
    padding-right: 20px;
  }

  .head-title .category-icon {
    height: 6.5vw;
    width: auto;
    margin-left: 1vw;
    margin-top: -1vw;
    stroke-width: 1.7;
  }

  .featured-image {
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 100%;
    height: 50vw;
    margin: 2vw 0 4vw;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .flexible-rows {
    .row {
      margin-bottom: 3vw;
      padding-bottom: 1vw;
      border-bottom: 1px solid;

      &:last-of-type {
        border-bottom: 0;
      }
    }

    .content {
      font-size: var(--font-size1);
      line-height: 1.1;

      p {
        margin-bottom: 1.5vw;
      }
    }
  }

  .workshop-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
    font-size: var(--font-size2);
    margin-bottom: 6vw;

    & > div:nth-last-of-type(2) {
      border-bottom: 0 !important;
    }

    p {
      font-size: var(--font-size3);
    }

    .description {
      border-bottom: 1px solid;
      border-right: 1px solid;
      padding-top: 1.2vw;

      &:first-of-type {
        padding-top: 0;
      }

      .head {
        border-bottom: 0;
        align-self: end;
        padding-top: 5px;
        margin-bottom: 1.5vw;
      }
    }

    .other-infos {
      display: grid;

      .head {
        border-bottom: 0;
        align-self: end;
        padding-top: 5px;

        &.last {
          border-right: 0;
        }
      }

      div {
        border-bottom: 1px solid;
        border-right: 1px solid;
        padding: 1.5vw 20px 0.3vw;

        &.price {
          border-right: 0;
        }
      }

      .subscribe {
        grid-column: span 4;
        padding-top: 0.5vw;
        display: flex;
        align-items: center;
        padding-bottom: 0;
        justify-content: center;
      }
    }
  }
}

@include responsive(tablet-portrait) {
  .workshops {
    .head-title .category-icon {
      height: 23vw;
      width: auto;
      margin-left: 1vw;
      margin-top: -4vw;
      stroke-width: 1.7;
    }

    .subtitle {
      padding-left: 15px;
      padding-right: 15px;
    }

    .featured-image {
      height: 600px;
      margin: 6vw 0 8vw;
    }

    .page-title {
      margin: 0 15px;

      .title-left {
        display: block;
      }
    }

    .grid.col-2 {
      grid-template-columns: repeat(1, 1fr);
    }

    .flexible-rows .row {
      margin-bottom: 8vw;
      padding-bottom: 8vw;
    }

    .flexible-rows .col-1 {
      .content p {
        margin-bottom: 6vw;
      }
    }

    .workshop-table-mobile {
      font-size: var(--font-size1);
      padding: 0 15px;
      margin-bottom: 30vw;

      & > div {
        border-bottom: 1px solid;
        padding: 2vw 0 1vw;
        line-height: 1.2;

        &:nth-last-of-type(2) {
          border-bottom: 0;
        }
      }

      .description {
        .content {
          padding: 2vw 0 1vw;
        }

        .title {
          line-height: 1.1;
          font-size: var(--font-size1);
        }

        .head {
          border-bottom: 1px solid;
        }

        p {
          font-size: var(--font-size2);
        }
      }

      .subscribe {
        border: 1px solid;
        text-align: center;
      }
    }
  }
}
