/**
 * partials/nav
 * ---
 * Menus
 */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1001;
}

.nav {
  border: 1px solid $fideleblue;

  div {
    display: flex;
  }

  a {
    color: $fideleblue;
    font-weight: 500;
    transition: all 0.5s ease;

    &:hover {
      text-decoration: none;
    }
  }

  li {
    list-style: none;
    color: $fideleblue;
    border-right: 1px solid $fideleblue;
    padding: 3px 9px 0;
    background: $white;
    transition: all 0.5s ease;

    &:last-of-type {
      border-right: 0;
    }

    &:hover {
      background: linear-gradient(90deg, $fideleblue 38.57%, $white 100%);

      a {
        color: $white;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  #menu-item-42 {
    flex-grow: 1;
  }
}

.head-title {
  margin-top: 20px;
  width: fit-content;
  height: auto;
  display: flex;
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 1000;
  align-items: flex-start;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear;

  &.scroll {
    opacity: 0;
    visibility: hidden;
  }

  &.visible, &.scroll.visible {
    opacity: 1;
    visibility: visible;
  }

  .logo {
    width: 16vw;
    height: auto;
  }

  .category-icon {
    height: 9vw;
    width: auto;
    margin-left: 1vw;
  }

  .page-title {
    width: 50%;

    h1 {
      letter-spacing: -0.02em;
    }
  }
}

.bottom-gradient {
  width: 100%;
  height: 75px;
  background: linear-gradient(0deg, #FF6C2F 0%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.menu {}

.sub-menu {}

.menu-item {}
