/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;
$fideleblue: #215BDF;
$black: #212121;
$lightgrey: #88898A;
$white: #FFFFFF;
$metallicgold: #AC936E;
$flatgold: #BB8B41;
$sunflower: #FFB511;
$yellow: #FFE800;
$orange: #FF6C2F;
$red: #FF665E;
$brightred: #F15060;
$fluorescentred: #FF4C65;
$fluorescentpink: #FF48B0;
$brown: #925F52;
$burgundy: #914E72;
$violet: #9D7AD2;
$purple: #765BA7;
$federalblue: #3D5593;
$mediumblue: #3255A4;
$blue: #0078BF;
$aqua: #5EC8E5;
$mint: #82D8D5;
$fluorescentgreen: #44D62C;
$green: #00A95C;
$huntergreen: #407060;
$teal: #00838A;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;
